<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/head %>
</head>
<body>
  <header>
    <% include partials/navbar %>
  </header>
  <main>
    <div class="container-fluid">
      <div class="row flex-xl-nowrap">
        <% if(user.role != 0) {%>
        <div class="col-12 col-md-3 col-xl-2 bd-sidebar">
          <% include partials/sidenav %>
        </div>
        <% } %>
        <div class="<%=(user.role != 0) ? 'col-12 col-md-9 col-xl-10 py-md-3 pl-md-5' : 'col-md-8'%>">
          <%if(message.length > 0){%>
          <div class="position-relative row">
            <div class="position-absolute col-12">
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <%=message%>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            </div>
          </div>
          <%}%>
          <% if(user){%>
          <div class="row">
            <div class="col-12">
              <h4 class="text-center mb-4 mt-1"><%=page%></h4>
              <table id="report" class="table table-striped" style="width:100%">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col"><b>No</b></th>
                    <th scope="col"><b>Komplain</b></th>
                    <th scope="col"><b>Tanggal</b></th>
                    <th scope="col"><b>Status</b></th>
                  </tr>
                </thead>
                <tbody>
                  <%for(var i = 0; i < reports.length; i++){%>
                    <tr class="clickable-row" data-href="/report/<%=reports[i].reportId%>">
                      <td><%=((pagination.current - 1) * 10) + (i + 1)%></td>
                      <td><%=reports[i].masalah%></td>
                      <td><%=reports[i].tanggal%></td>
                      <td><span class="badge badge-<%=(reports[i].status) ? 'warning':'success'%>"><%=(reports[i].status) ? 'Open':'Close'%></span></td>
                    </tr>
                  <%}%>
                </tbody>
              </table>
              <ul class="pagination justify-content-center">
                <li class="page-item <%=(pagination.current == 1) ? 'disabled' : ''%>"><a class="page-link" <%=(pagination.current > 1) ? 'href=?page='+(parseInt(pagination.current) - 1) : ''%> aria-label="Previous"><span aria-hidden="true">&laquo;</span>
                </a></li>
                <%pagination.pages.forEach((pages) => {%>
                <li class="page-item <%=(pages == pagination.current) ? 'active': ''%>"><a class="page-link" <%=(pages != pagination.current) ? 'href=?page='+pages: ''%>><%=pages%></a></li>
                <%})%>
                <li class="page-item <%=((pagination.current == Math.ceil(pagination.total/10)) || (Math.ceil(pagination.total/10 == 0))) ? 'disabled' : ''%>"><a class="page-link" <%=(pagination.current < Math.ceil(pagination.total/10)) ? 'href=?page='+(parseInt(pagination.current) + 1) : ''%> aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
              </ul>
            </div>
          </div>
          <%}%>
        </div>
      </div>
    </div>
  </main>
  <footer>
    
  </footer>
  <% include partials/script %>
</body>
</html>